# {{{project}}} component library #

The documented components form the foundation of the *{{{project}}}* script and its derivatives (see the [{{{project}}} repository]({{{repo}}})). Their creation rationale was to be self contained rather than having to rely on gems which might or might not be installed on user’s systems. As such, they will probably not be the best or most versatile solution for any problems outside the immediate scope of the project; if you need more extensive and / or versatile versions of the components of this library, you will find gems that do a better job.

## Using components outside the project ##

Re-use and adaptation is encouraged as long as you abide to the terms of the license. Fork away and be awesome!

## License ##

*{{{project}}}* and its components are licensed under the {{{license_name}}}:

<pre>{{license_text}}</pre>
